/* Green Valley theme newsletter stylesheet */
body {
  background: #fff;
  color: #212529;
  font-family: var(--bs-font-sans-serif);
  padding: 15px;
}
a, a:visited {
  color: #0d6efd;
}
a:hover {
  color: #0a58ca;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}
.card {
  margin-bottom: 1.5;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0.375rem;
}
.card-header {
  border-bottom: 1px solid transparent;
}
.card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  color: inherit;
}
.card-title > a, .card-title > small, .card-title > .small, .card-title > small > a, .card-title > .small > a {
  color: inherit;
}
:root {
  --tiki-top-bg-light: url("../images/header_background_ltr.jpg")  0/100% auto no-repeat;
  --tiki-top-light-color: #B52170;
  --tiki-top-light-link-color: #B52170;
  --tiki-top-light-link-hover-color: #cda256;
  --tiki-topbar-bg-light: #473119 url("../images/menubar-wood.jpg") 0/100% auto no-repeat;
  --tiki-topbar-light-color: #B52170;
  --tiki-topbar-light-link-color: #B52170;
  --tiki-topbar-light-link-hover-color: rgba(255, 255, 255, 0.75);
  --tiki-top-bg-dark: var(--tiki-top-bg-light);
  --tiki-top-dark-color: rgba(255, 255, 255, 0.95);
  --tiki-top-dark-link-color: rgba(255, 255, 255, 0.95);
  --tiki-top-dark-link-hover-color: rgba(255, 255, 255, 0.75);
  --tiki-topbar-bg-dark: var(--tiki-topbar-bg-light);
  --tiki-topbar-dark-color: rgba(255, 255, 255, 0.95);
  --tiki-topbar-dark-link-color: rgba(255, 255, 255, 0.95);
  --tiki-topbar-dark-link-hover-color: rgba(255, 255, 255, 0.75);
}
body {
  background: url("../images/page_background_ltr.jpg") repeat;
}
