//Custom styles for the FiveAlive Grape option theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
$gray-600: #6c757d;
$gray-900: #212529;

$white:    #fff;
$black:    #000;
$light: #a02871;
$dark: #551e3d;

$primary:       #a52873;
$secondary:     #3c2846;
$success:       #5cb85c;
$info:          #551e3c;
$warning:       #f0ad4e;
$danger:        #d00b0b;
$light:         #fff;
$dark:          #8e286a;

$theme-colors: (
    "primary":            #a52873,
    "secondary":         #3c2846,
    "success":             #5cb85c,
    "info":             #551e3c,
    "warning":             #f0ad4e,
    "danger":              #d00b0b,
    "light":            #fff,
    "dark":                #8e286a
);

// The following are default values from vendor/twbs/bootstrap/scss/variables.scss - change as needed for theme child option (or to match values in parent theme).
// Comment-out any that are already defined in the parent theme variables.scss file and shouldn't be redefined.
$min-contrast-ratio:  3;

$color-contrast-dark:             $gray-900 !default;
$color-contrast-light:            $white !default;
//$bg-dark: #8e286a;
//$bg-light: #f4dded;
$bg-light: #a02871 !important;

// Links
$link-color: #a02871;
$link-hover-color: #a02871;

// Navs
$nav-tabs-link-color: #000;
$nav-tabs-link-bg: #f4dded;;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: #742157; // same as $dropdown-link-hover-bg;

// Navbars

// Typography
$text-muted:  #6B737B;
$hr-border-color: #a02871;

$navbar-fixed-top-bg: #8e286a;
// Cards
$card-border-color: #bc2f84;

// Tables
$table-border-color: #a82a76;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$component-active-bg: $card-border-color;

// Forms
$input-color: #555555;
$input-bg: #f4dded;
$input-border-color: #e4afd3;
$input-border-top-color: #e4afd3;
$input-border-right-color: #fff;
$input-border-bottom-color: #fff;
$input-border-left-color: #e4afd3;
$input-focus-border-color: lighten($component-active-bg, 25%);

// Form validation

// Dropdowns
$dropdown-bg: #8e286a; //#c82b8b;
$dropdown-border-color: rgba(0, 0, 0, 0.15);
$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #742157;
$dropdown-link-active-color: #ffffff;
$dropdown-link-active-bg: #2e1f39;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

// Pagination
$nav-pills-link-active-bg: #a02871;
$pagination-color: #a02871;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #a02871;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #a02871;
$pagination-active-border-color: #a02871;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

$enable-gradients: true;
$enable-shadows: true;
// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
//$bg-light-alt: #117485 !important;

$side-column-heading-color: #bc2f84;

$top-bg: #a52874;
$top-color: #fff;
$top-link-color: #fff;
$top-link-hover-color: #f9f9f9;
$topbar-bg: #551e3d;
$bg-dark: #8e286a;
$bg-light: #f4dded;
$page-header-link-color: #000;
$topbar-link-color: #fff;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;

$topbar-dark-bg: #261122;
$top-light-bg: transparent; // #117485;
$top-light-color: #f9f9f9;
$topbar-light-bg: #063035;
$topbar-light-color: #f9f9f9;

$top-dark-bg: transparent; // #117485; // $top-light-bg; defining the variable with a variable didn't work.
$top-dark-color: $top-light-color;
$top-dark-link-color: $top-dark-color;
$topbar-dark-bg: #063035; // $topbar-light-bg;
$topbar-dark-color: $topbar-light-color;

$navbar-light-color: $top-light-color;
$navbar-light-link-color: $top-light-color;
$navbar-light-link-hover-color: #f2f2f2;
//$navbar-light-link-hover-bg: #003c4a;

$navbar-dark-color: $top-light-color;
$navbar-dark-link-color: $top-light-color;
$navbar-dark-link-hover-color: #f2f2f2;
//$navbar-light-link-hover-bg: #003c4a;


$footer_liner-card-inner-border: #a52873;

$footer-accent-color: $input-border-color;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #a02871;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #3b284a;


$autotoc-nav-bg: #ffffff;
$autotoc-nav-border: #8e286a;
$autotoc-color: #8e286a;
$autotoc-nav-li-link-hover-color: #f2f2f2;
$autotoc-nav-li-link-hover-bg: #2e1f39;
$middle_outer-inset-shadow-bg: #261122;
$postbody-title-card-title-color: #fff;

$bg-dark-info: #00DAE6;

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
:root {
    --tiki-top-bg-light: linear-gradient(to right,  #642759 0%,#732860 19%,#92286b 43%,#a32872 67%,#a52873 100%);
    --tiki-top-light-color: #{$navbar-light-color};
    --tiki-top-light-link-color: #{$navbar-light-link-color};
    --tiki-top-light-link-hover-color: #{$navbar-light-link-hover-color};

    --tiki-topbar-bg-light: #{$topbar-light-bg};
    --tiki-topbar-light-color: #{$navbar-light-color};
    --tiki-topbar-light-link-color: #{$navbar-light-link-color};
    --tiki-topbar-light-link-hover-color: #{$navbar-dark-link-hover-color};

    --tiki-top-bg-dark: linear-gradient(to right,  #642759 0%,#732860 19%,#92286b 43%,#a32872 67%,#a52873 100%);
    --tiki-top-dark-color: #{$navbar-dark-color};
    --tiki-top-dark-link-color: #{$navbar-dark-link-color};
    --tiki-top-dark-link-hover-color: #{$navbar-dark-link-hover-color};

    --tiki-topbar-bg-dark:#{$topbar-dark-bg};
    --tiki-topbar-dark-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-color: #{$navbar-dark-link-color};
    --tiki-topbar-dark-link-hover-color: #{$navbar-dark-link-hover-color};

    --tiki-top-light-border: solid #000;
    --tiki-top-dark-border: solid #000;
    --tiki-top-border-width: 0 0 5px 0;
}