// Files for the Neubrutiki theme for Tiki Wiki CMS Groupware, Bootstrap 5+.
/*  The Neubrutiki theme for Tiki Wiki CMS Groupware. */
// References: https://youtu.be/uHX3oTCFJzw https://hype4.academy/articles/design/neubrutalism-is-taking-over-web
// https://dribbble.com/tags/neubrutalism  https://colorswall.com/palette/189749
// https://designingforuncertainty.com/2022/04/03/neubrutalism-is-taking-over-web-design/

:root {
    --bs-card-cap-bg: null;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inria+Sans:wght@300;400;700&family=Roboto:wght@400;500;700&display=swap');

@import "../../base_files/scss/_tiki-bootstrap_functions"; // Required Bootstrap
@import "variables"; // Theme overrides of Bootstrap defaults plus any additional variables
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../default/scss/variables"; // Bootstrap default variables, with a few Tiki overrides

@import "../../base_files/scss/_tiki-bootstrap_layout_and_components"; // Optional Bootstrap

@import "../../base_files/scss/_tiki-selectors.scss"; // Tiki CSS selectors used globally
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // Import if needed to specify top and topbar zone colors in more detail
@import "_tiki-selectors.scss"; // Tiki CSS selectors used by the theme
@import "../../base_files/scss/_external-scripts.scss"; // Why is this imported separately?
@import "../../base_files/scss/_select2-tiki_colors.scss"; // Why isn't this imported by external scripts?