/* Jqui theme (jqui.css) Excitebike theme option (excitebike.css)
    Visit http://themes.tiki.org for more information.*/
a,
.popover button.btn-link.link-list {
  color: #e69700;
}
a:hover,
a:focus,
.popover button.btn-link.link-list:hover,
.popover button.btn-link.link-list:focus {
  color: #9a6500;
}
.btn,
button,
input[type="reset"],
input[type="submit"],
.button input {
    background: url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_26_2293f7_40x40.png') 50% 50%;
}
.btn:not(.btn-link) {
    color: #ffffff;
}

.btn:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
    background: url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png') repeat-x 50% 50%;
}
.btn-link,
.btn-link:hover {
    background: none;
    border: none;
}
.btn-secondary {
    border: 3px solid #b5dfb5;
}
.btn-success {
    border: 3px solid #b5dfb5;
}
.btn-info {
    border: 3px solid #c5e9f3;
}
.btn-warning {
    border: 3px solid #f6ce95;
}
.btn-danger {
    border: 3px solid #d9534f;
}
.btn-primary {
  color: #ffffff;
  background-color: #2293f7;
  border: 3px solid #2293f7;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #087ade;
  border-color: #055194;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #087ade;
  border-color: #0874d4;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #087ade;
  border-color: #0874d4;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #0767bc;
  border-color: #055194;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #2293f7;
  border-color: #2293f7;
}
.btn-primary .badge {
  color: #2293f7;
  background-color: #ffffff;
}
.bg-dark {
  background-color: #e69700 !important;
  border-color: #e69700;
}

.topbar .bg-light,
.topbar .bg-dark {
  background: transparent !important;
  border: none;
}

.navbar-dark .navbar-nav > li > a,
.navbar-light .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-dark .navbar-nav > li > a:hover,
.navbar-dark .navbar-nav > li > a:focus,
.navbar-light .navbar-nav > li > a:hover,
.navbar-light .navbar-nav > li > a:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-dark .navbar-link,
.navbar-light .navbar-link{
  color: #ffffff;
}
.navbar-dark .navbar-link:hover,
.navbar-light .navbar-link:hover{
  color: #e6e6e6;
}

.dropdown-menu {
    background: #e8a119;
}
.dropdown-item a,
.dropdown-item button.btn-link.link-list {
    color: #212529;
}
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item button.btn-link.link-list:hover,
.dropdown-item button.btn-link.link-list:focus {
    background: #e69700;
    color: #ffffff;
    text-decoration: none;
}

input[type="text"],
input[type="password"],
select,
textarea,
body.cke_show_borders {
  background: #ffffff;
  color: #000000;
}
.topbar,
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-collapse,
.tiki .bg-dark {
  border: 1px solid #e69700;
  font-weight: bold;
  color: #ffffff;
  outline: none;
  background: #e69700 url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png') repeat 50% 50%;
}
.card-title {
    color: #E69700;
    font-weight: bold;
    text-align: center;
}

.topbar .card-heading,
.topbar .navbar-dark .navbar-collapse,
.topbar .navbar-dark .navbar-form {
  border: none;
  background-color: transparent !important;
}
.topbar a,
.topbar > a,
.topbar .navbar-dark .navbar-nav > li > a,
.topbar .nav > li > a,
.topbar > a:hover,
.topbar .navbar-dark .navbar-nav > li:hover > a,
.topbar .nav > li > a:hover,
.navbar-dark .navbar-nav > .open > a,
.navbar-dark .navbar-nav > .open > a:hover,
.navbar-dark .navbar-nav > .open > a:focus {
  color: #ffffff;
  background: transparent;
}
.topbar > a:hover,
.topbar .navbar-dark .navbar-nav > li > a:hover,
.topbar .nav > li > a:hover,
.topbar > a:focus,
.topbar .navbar-dark .navbar-nav > li > a:focus,
.topbar .nav > li > a:focus,
.topbar .navbar-dark .navbar-nav > li,
.topbar .nav > li {
  background: transparent;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #e69700;
  color: #ffffff;
  text-decoration: none;
}
.navbar-dark .navbar-nav > .active > a,
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > .active > a:focus {
  background-color: #e69700;
}

.wikitext {
  border: #eeeeee solid .5em;
  background: #eeeeee url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_inset-hard_100_eeeeee_1x100.png') 50% bottom repeat-x;
}
h1.pagetitle {
  display: block;
  border: 1px solid #1484e6;
  color: #ffffff;
  background: #1484e6 url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png') repeat scroll 50% 50%;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
}
h1.pagetitle > a:link,
h1.pagetitle > a:visited,
h1.pagetitle > a:hover {
  color: #ffffff;
}
h1.pagetitle:hover,
h1.pagetitle > a:hover {
  color: #d1e7fa;
  text-decoration: none;
}
.card {
  border: 1px solid #aaaaaa;
  color: #222222;
  background: #eeeeee url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_inset-hard_100_eeeeee_1x100.png') 50% bottom repeat-x;
}
.card a {
  color: #e69700;
}
.card .dropdown-menu a {
    color: #fff;
}
.card-title {
  font-weight: bold;
}
.card-header {
  background: #f9f9f9 url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_highlight-soft_100_f9f9f9_1x100.png') repeat-x 50% 50%;
  border: 1px solid #cccccc;
  text-align: center;
}
.card-success > .card-header {
  background: #b5dfb5;
}
.card-info > .card-header {
  background: #c5e9f3;
}
.card-warning > .card-header {
  background: #f6ce95;
}
.card-danger > .card-header {
  background: #d9534f;
  color: #ffffff;
}
.card.card-accordian > .card-header {
  background: #e69700 url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png') 50% 50%;
  border: 1px solid #e69700;
}
.card-default.card-accordian > .card-header .card-title > a {
  color: #ffffff;
}

h3.card-heading {
    color: #E69700;
    font-weight: bold;
    text-align: center;
}

.alert-box {
  background: url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-small_25_c5ddfc_40x40.png') repeat scroll 50% 50%;
  border: 1px solid #e69700;
  color: #0086e4;
}

/*
.errors a,
.errors a:visited,
.warning a,
.warning a:visited {
  color: #ffffff;
  text-decoration: underline;
}*/

th,
td.heading,
tr.diffheader {
  border: 1px solid #e69700;
  font-weight: bold;
  color: #ffffff;
  background: #e69700 url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png') repeat 50% 50%;
}
th a,
th a:link,
th a:visited,
td.heading a,
td.heading a:visited,
.caltable .days {
  color: #ffffff;
  font-weight: bold;
}
tr.odd td,
td.odd,
li.odd {
  background: #eeeeee;
}
tr.even td,
td.even,
li.even {
  background: #f8f8f8;
}
.nav-tabs {
  background: #f9f9f9 url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_highlight-soft_100_f9f9f9_1x100.png') 50% 50%;
  border: 1px solid #cccccc;
  color: #e69700;
  font-weight: bold;
  padding: 4px 4px 0 4px;
}

.nav-tabs .nav-link {
  border: 1px solid #1484e6;
  font-weight: bold;
  color: #b8ec79;
  background: url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png') repeat-x 50% 50%;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border: 1px solid #e69700;
  font-weight: bold;
  color: #ffffff !important;
  outline: none;
  background: #e69700 url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png') 50% 50%;
}

.tab-pane {
  border: 1px solid #aaaaaa;
  padding: 1em;
  margin-bottom: 1em;
  color: #222222;
  background: #eeeeee url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_inset-hard_100_eeeeee_1x100.png') 50% bottom repeat-x;
}
.post .postbody-title .title a.link,
.postbody-title .card-title {
  color: #ffffff;
}
.post .postbody {
  border: 1px solid #aaaaaa;
  color: #222222;
  background: #eeeeee url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_inset-hard_100_eeeeee_1x100.png') 50% bottom repeat-x;
}
.postbody-title {
  border: 1px solid #e69700;
  font-weight: bold;
  color: #ffffff;
  outline: none;
  background: #e69700 url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png') repeat 50% 50%;
}
.forum_actions {
  background: #c5ddfc url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-small_25_c5ddfc_40x40.png') 50% 50%;
  border: 1px solid #ffffff;
  color: #333333;
}
.caltable .even,
.caltable .odd {
  background: #1484e6 url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png') 50% 50%;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
}
.caltable .even:hover,
.caltable .odd:hover {
  background: url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_26_2293f7_40x40.png') repeat scroll 50% 50%;
  border: 1px solid #1484e6;
}
.caltable .even a:link,
.caltable .even a:visited,
.caltable .odd a:link,
.caltable .odd a:visited {
  color: #b8ec79;
}
.caltable td.calhighlight,
.caltable td.calhighlight a:link,
.caltable td.calhighlight a:visited,
td.calheadhighlight {
  background: #fcefa1;
  color: darkgreen;
}
.caltable td.calhighlight:hover,
.caltable td.calhighlight a:hover,
td.calheadhighlight {
  background: #fcefa1;
  opacity: 50;
  color: darkgreen;
}
.caltable .calborder {
  border: 1px solid #ffffff;
  color: darkgreen;
}
body.tiki_admin .simplebox,
a.admbox,
a.admbox.off {
  border: 1px solid #ffffff;
  background-color: #c5ddfc;
  color: #333333;
}
.footer_liner,
.wikitext,
h1.pagetitle,
h1 a.pagetitle,
.post .postbody {
  border-radius: 6px;
}
.siteloginbar_poppedup .tabcontent {
  background: lightyellow !important;
}
.footer_liner {
  display: block;
  border: 1px solid #1484e6;
  color: #ffffff;
  background: #1484e6 url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png') 50% 50%;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
}
#footer a:link,
#footer a:visited {
  color: #ffffff;
}

/* CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
Background images (actual images or CSS gradients, etc.), if assigned, override background colors. */
:root {
    --tiki-top-bg-light: #e69700 url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png') repeat 50% 50%;;
/*    --tiki-top-light-color: #{$navbar-light-color};
    --tiki-top-light-link-color: #{$navbar-light-color};
    --tiki-top-light-link-hover-color: #{$navbar-light-hover-color};
*/
    --tiki-topbar-bg-light: #e69700 url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png') repeat 50% 50%;;
/*    --tiki-topbar-light-color: #{$navbar-light-color};
    --tiki-topbar-light-link-color: #{$navbar-light-color};
    --tiki-topbar-light-link-hover-color: #{$navbar-dark-hover-color};
*/
    --tiki-top-bg-dark: #e69700 url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png') repeat 50% 50%;;
/*    --tiki-top-dark-color: #{$navbar-dark-color};
    --tiki-top-dark-link-color: #{$navbar-dark-color};
    --tiki-top-dark-link-hover-color: #{$navbar-dark-hover-color};
*/
    --tiki-topbar-bg-dark: #e69700 url('../../../../../vendor_bundled/vendor/components/jqueryui/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png') repeat 50% 50%;;
/*    --tiki-topbar-dark-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-hover-color: #{$navbar-dark-hover-color};
*/
}
