// $Id$

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Color system
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary: #C04402; // #CF4A02; // #fd7931;
$secondary: #A75A01; // #B25F01; // #feb768;
$success: #1B7E2B; // #1D872E; // #24a238;
$info: #0071C7; // 0089f0;
$warning: #717113; // #d0d024;
$danger: #CD322D; // #D4403A; // #d9534f;

$black: $gray-900;

$theme-colors: (
     "primary":        #C04402, // #CF4A02, // #fd7931,
     "secondary":      #A75A01, // #B25F01, // #feb768,
     "success":        #1B7E2B, // #1D872E, // #24a238,
     "info":           #0071C7, // #0089f0,
     "warning":        #717113, // #d0d024,
     "danger":         #CD322D, // #D4403A, // #d9534f,
    "light":           #ffffff,
     "dark":           #000000
);

$min-contrast-ratio:   3;

// Options
// Gradient
// Spacing
// Position

// Body
$body-bg: #f3f3f3;// (Actually, container bg, whereas actual body bg is #90140c;)
$body-color: #212529;

// Utilities maps

// Links
$link-color: #600000;
$link-hover-color: darken($link-color, 15%);

// Paragraphs
// Grid breakpoints
// Grid containers
// Grid columns
// Container padding
// Components
$component-active-color: #140000;
$component-active-bg: #fd7c32;


// Typography
$font-family-sans-serif: Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-color: #8a0700;
$blockquote-footer-color: #485060;

// Tables
// Buttons + Forms
// Buttons
// Forms
$input-bg: #fff;
$input-group-addon-bg: #E9ECEF;
$form-text-color: #485060;

// Form validation
$form-feedback-valid-color: #1B7E2B;
$form-feedback-invalid-color: #C9312C;

// Z-index master list
// Navs
$nav-link-disabled-color: #666E75;

// Navbar
$navbar-light-color:                rgba($black, .5) !default;
$navbar-light-hover-color:          rgba($black, .7) !default;
$navbar-light-active-color:         rgba($black, .9) !default;
$navbar-light-disabled-color:       rgba($black, .3) !default;

// Tabs
//$nav-tabs-border-color: lighten( $body-bg, 90% );
//$nav-tabs-link-hover-border-color: lighten( $nav-tabs-border-color, 10% );
//$nav-tabs-active-link-hover-bg: darken( $nav-tabs-border-color, 10% );
$nav-tabs-link-active-bg: #C04802; // Actually a gradient is used but this value fixes contrast error

// Dropdowns
// Pagination

// Placeholders
// Cards
// Accordion
$accordion-color:                         $body-color;
$accordion-bg:                            #fff;
$accordion-button-active-color: #000;

//$accordion-border-width:                  $border-width !default;
$accordion-border-color:                  rgba($black, .125) !default;

// Tooltips
// Popovers
// Toasts
// Badges
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
$figure-caption-color: #485060;

// Breadcrumbs
$breadcrumb-active-color: #687078;
// Carousel
// Spinners
// Close
$close-font-weight: bold;
$close-color: #000000;
$close-text-shadow: 0 1px 0 #ffffff;

// Offcanvas
// Code
$code-color: #c7254e;
$kbd-bg: #f9f2f4;

$kbd-color: #ffffff;
$kbd-bg: #333333;

$pre-bg: #f5f5f5;
$pre-color: $gray-900;
$pre-border-color: #cccccc;
$pre-scrollable-max-height: 340px;

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
