/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information:
 * bootswatch v5.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2022 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
*/

@import "../../base_files/scss/_tiki-bootstrap_functions";

@import "variables";
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../base_files/scss/_tiki-bootstrap_layout_and_components";
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/slate/bootswatch";

//@import "../../base_files/scss/_tiki-bootstrap_layout_and_components";

@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // Import if needed to specify top and topbar zone colors in more detail
@import "../../base_files/scss/_external-scripts.scss";
@import "../../base_files/scss/_select2-tiki_colors.scss";

//Theme variables aren't overriding default values for these.
body {
  color: #aaa;
  background: #272b30;
}

body.fullscreen { background: $body-bg; }

// Increase navbar height to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

// Bootstrap variable overrides seem to have to be here to be effective.
// Override Bootstrap CSS variable for valid CSS calc in mod-logo (0 must have a unit).
.navbar {
    --bs-navbar-padding-y: 0px;
    --bs-navbar-color: #fff;
    --bs-navbar-hover-color: #{$gray-200};
}

