.groupmail .from_col {
  width: 20%;
}
.groupmail .action_col {
  width: 80px;
}

html {
  background-color: transparent;
}

body {
  min-width: 100%;
}

.account_icon {
  margin-right: 6px;
  padding-right: 0;
}

.folder_icon {
  margin-right: 10px;
  padding-right: 0;
}

.inline-cypht {
  position: relative;
}
.inline-cypht input, .inline-cypht option, .inline-cypht select {
  padding: 5px 10px;
}
.inline-cypht .select2-container {
  width: auto !important;
}
.inline-cypht .btn-outline-secondary:hover {
  text-decoration: none;
}
.inline-cypht .src_name {
  max-height: 100px;
}
.inline-cypht .sys_messages {
  padding: 15px;
}
.inline-cypht .content_title {
  overflow: visible;
  min-height: 50px;
  max-height: 400px;
  padding:25px;
  padding-bottom: 5px;
}
.inline-cypht .folders a, .inline-cypht .unread_link {
  font-weight: normal;
}
.inline-cypht .selected_menu, .inline-cypht .selected_menu a {
  text-decoration: underline;
}
.inline-cypht .nux_help, .inline-cypht .nux_dev_news, .inline-cypht .nux_welcome {
  min-width: 50%;
  max-width: 100%;
  min-height: 10px;
  margin: 20px;
}
.inline-cypht .nux_dev_news table td:last-child {
  white-space: normal;
}
.inline-cypht .quick_add_section {
  padding-left: 25px;
}
.inline-cypht .nux_step_one, .inline-cypht .nux_step_two {
  padding-left: 0;
}
.inline-cypht .nux_next_button {
  margin-top: 10px;
}
.inline-cypht .nux_account_name, .inline-cypht .nux_username, .inline-cypht #service_select {
  width: 100%;
}
.inline-cypht .server_count {
  margin-right: 30px;
}
.inline-cypht .configured_server, .inline-cypht .add_server {
  background: transparent;
}
.inline-cypht .add_server {
  width: auto;
}
.inline-cypht .add_server .txt_fld {
  width: 100%;
}
.inline-cypht .add_server .port_fld {
  width: 50%;
}
.inline-cypht .settings_subtitle, .inline-cypht .server_section {
  max-height: 100px;
  height: auto !important;
  font-weight: bold;
}
.inline-cypht .settings_subtitle img, .inline-cypht .server_section img {
  padding-right: 0;
  margin-right: 10px;
}
.inline-cypht .user_settings table {
  table-layout: auto;
}
.inline-cypht .profile_details th {
  font-weight: bold;
}
.inline-cypht .user_settings table th, .inline-cypht .user_settings table td, .inline-cypht .edit_profile table th, .inline-cypht .edit_profile table td {
  padding: 10px 15px;
  height: auto;
  width: 100%;
}
.inline-cypht .user_settings table tr, .inline-cypht .edit_profile table tr {
  display: flex !important;
  flex-wrap: wrap;
}
.inline-cypht .user_settings table td:not(.settings_subtitle):nth-child(1),
.inline-cypht .edit_profile table th {
  max-width: 40%;
  flex: 0 0 40%;
}
.inline-cypht .user_settings table td:nth-child(2),
.inline-cypht .edit_profile table td {
  max-width: 60%;
  flex: 0 0 60%;
}
.inline-cypht .compose_server {
  margin-bottom: 15px;
}
.inline-cypht .compose_attach_button, .inline-cypht .compose_sign,
.inline-cypht .smtp_save, .inline-cypht .smtp_reset, .inline-cypht .smtp_send {
  margin-top: 0;
}
.inline-cypht .search_content .content_title {
  max-height: 150px;
}
.inline-cypht .search_content .search_form form {
  padding-right: 20px;
}
.inline-cypht .search_content #search_terms {
  margin: 0 3px 7px;
}
.inline-cypht .save_search img, .inline-cypht .delete_search img {
  padding: 5px 0 0 5px;
}
.inline-cypht .advanced_search_form input[type=radio], .inline-cypht .advanced_search_form input[type=checkbox] {
  margin-right: 5px;
}
.inline-cypht .advanced_search_form label {
  margin-right: 10px;
}
.inline-cypht .other_section table {
  width: 100%;
  white-space: normal;
}
.inline-cypht .other_section table tr {
  display: flex;
  flex-wrap: wrap;
}
.inline-cypht .other_section table th {
  width: 40%;
}
.inline-cypht .other_section table td {
  max-width: 55%;
}
.inline-cypht .other_section table td label {
  width: 130px;
}
.inline-cypht .other_section .flags {
  width: 170px;
}
.inline-cypht .refresh_list, .inline-cypht .list_settings_link {
  padding: 0;
  margin: 5px 2px 0;
}
.inline-cypht .toggle_recipients {
  right: 25px;
}
.inline-cypht .msg_date {
  font-weight: bold;
}
.inline-cypht .msg_parts tr:not(:last-child) {
  border-bottom: 1px solid #444;
}
.inline-cypht .part_desc, .inline-cypht .part_size, .inline-cypht .download_link {
  margin-left: 25px;
}
.inline-cypht .msg_part_icon {
  padding: 0;
  margin-left: 5px;
}
.inline-cypht .imap_keyword {
  margin-top: 4px;
}
.inline-cypht .msg_headers td {
  padding-right: 35px;
}
.inline-cypht .chosen-container {
  width: auto !important;
}
.inline-cypht .chosen-container .chosen-results li {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.inline-cypht .message_list:not([class*=imap]) .chosen-container {
  float: right;
  margin: -8px 120px 0 0;
}
.inline-cypht .message_list[class*=imap] .combined_sort + .chosen-container {
  display: none;
}
.inline-cypht .message_list[class*=imap] #imap_filter_form .chosen-container {
  float: left;
  margin-right: 10px;
}
.inline-cypht .chosen-container-single .chosen-single {
  padding-right: 2rem;
}
.inline-cypht #service_select_chosen {
  margin-bottom: 10px;
}
.inline-cypht .unchosen {
  display: none !important;
}

.mobile .inline-cypht {
  padding-top: 50px;
}
.mobile .inline-cypht .content_cell {
  padding: 20px 0 20px;
  border: none;
  display: block !important;
  min-height: 600px;
}
.mobile .inline-cypht .content_title {
  display: flex;
  align-items: center;
  padding: 0 10px 0 50px;
  min-height: 60px;
  max-height: 500px;
  line-height: normal;
  font-size: 115%;
  font-weight: 500;
}
.mobile .inline-cypht .content_title .list_controls {
  border: none;
  background: #fff;
}
.mobile .inline-cypht .sys_messages {
  top: 0;
  right: 0;
  width: 100%;
  min-height: 5px;
  padding-bottom: 15px;
  white-space: normal;
}
.mobile .inline-cypht .folder_toggle {
  display: block !important;
  letter-spacing: normal;
}
.mobile .inline-cypht .folder_toggle img {
  width: 24px;
  height: 30px;
  margin: -5px 0 0 5px;
}
.mobile .inline-cypht .nux_welcome ul {
  padding-left: 20px;
}
.mobile .inline-cypht .nux_dev_news table td {
  display: block;
}
.mobile .inline-cypht .nux_dev_news table tr:not(:last-child) td:last-child {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.mobile .inline-cypht .nux_dev_news table tr:last-child td:last-child {
  border-bottom: none;
}
.mobile .inline-cypht .nux_empty_combined_view {
  margin-left: 10px;
  margin-right: 10px;
}
.mobile .inline-cypht .settings_subtitle, .mobile .inline-cypht .server_section {
  padding-left: 15px !important;
}
.mobile .inline-cypht .add_server {
  margin-left: 20px;
}
.mobile .inline-cypht .server_count {
  margin-right: 15px;
}
.mobile .inline-cypht .user_settings input[type=text], .mobile .inline-cypht .user_settings input[type=email], .mobile .inline-cypht .user_settings select,
.mobile .inline-cypht .user_settings textarea, .mobile .inline-cypht .edit_profile input[type=text], .mobile .inline-cypht .edit_profile input[type=email], .mobile .inline-cypht .edit_profile select,
.mobile .inline-cypht .edit_profile textarea {
  width: 100%;
  text-align: left;
}
.mobile .inline-cypht .edit_profile table {
  width: 100%;
}
.mobile .inline-cypht .folder_dialog {
  margin-left: 30px;
  width: 85%;
}
.mobile .inline-cypht #imap_server_folder {
  width: 100%;
}
.mobile .inline-cypht .search_content {
  padding-top: 0;
}
.mobile .inline-cypht .search_content .content_title {
  display: block;
  padding-top: 20px;
  padding-bottom: 10px;
}
.mobile .inline-cypht .search_content .search_form {
  display: block;
  padding: 0;
  font-size: 100%;
}
.mobile .inline-cypht .search_content .search_form select {
  width: auto;
  margin: 5px;
}
.mobile .inline-cypht .search_content .search_form input[type=submit], .mobile .inline-cypht .search_content .search_form input[type=button] {
  font-size: 80%;
}
.mobile .inline-cypht .search_content #search_terms {
  margin: 10px 3px 3px;
  width: 270px;
  max-width: 100%;
}
.mobile .inline-cypht .search_content .message_table {
  margin-top: 115px;
}
.mobile .inline-cypht .time_section input[type=date] {
  display: block;
  margin-bottom: 10px;
}
.mobile .inline-cypht .timeandor {
  text-align: left;
}
.mobile .inline-cypht .targets_section, .mobile .inline-cypht .other_section, .mobile .inline-cypht .submit_section,
.mobile .inline-cypht .time_section, .mobile .inline-cypht .source_section, .mobile .inline-cypht .terms_section {
  padding-left: 30px;
}
.mobile .inline-cypht .compose_page {
  padding: 10px;
  overflow: hidden;
}
.mobile .inline-cypht .compose_form {
  width: 100% !important;
  padding: 0 !important;
}
.mobile .inline-cypht .toggle_recipients {
  right: 10px !important;
}
.mobile .inline-cypht .compose_bcc, .mobile .inline-cypht .compose_cc, .mobile .inline-cypht .compose_subject,
.mobile .inline-cypht .compose_to, .mobile .inline-cypht .compose_body, .mobile .inline-cypht .compose_server {
  margin: 5px 0;
}
.mobile .inline-cypht .smtp_send {
  display: block;
  margin-bottom: 20px;
}
.mobile .inline-cypht .list_settings_link, .mobile .inline-cypht .refresh_list {
  width: 20px;
  height: 20px;
}
.mobile .inline-cypht .toggle_link {
  width: auto !important;
}
.mobile .inline-cypht .message_table > tbody > tr > td {
  padding-right: 10px;
}
.mobile .inline-cypht .msg_headers td {
  padding-right: 10px;
}
.mobile .inline-cypht .long_header th {
  white-space: normal;
  word-break: normal;
}
.mobile .inline-cypht .msg_controls {
  width: 100%;
  height: 43px;
  top: 0;
  left: 0 !important;
  right: 0;
  padding: 20px 0;
  margin-left: 90px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-self: center;
  align-items: stretch;
}
.mobile .inline-cypht .news_cell {
  padding-bottom: 15px !important;
}
.mobile .inline-cypht .news_cell.checkbox_cell {
  width: 40px;
  padding: 14px 10px 10px !important;
}
.mobile .inline-cypht .news_cell .msg_date {
  padding-top: 0;
}
.mobile .inline-cypht .news_cell .subject, .mobile .inline-cypht .news_cell .subject div {
  padding-bottom: 0px !important;
}
.mobile .inline-cypht .history_content .news_cell.checkbox_cell {
  padding: 10px 15px !important;
}
.mobile .inline-cypht .header_links {
  padding-bottom: 8px;
}
.mobile .inline-cypht .msg_text {
  max-width: 100% !important;
  word-break: break-word;
}
.mobile .inline-cypht .msg_text_inner {
  width: 100%;
  padding: 15px !important;
}
.mobile .inline-cypht .msg_parts {
  table-layout: auto;
}
.mobile .inline-cypht .groupmail.message_table > tbody > tr > td {
  padding: 0 75px 0 15px;
  border: none;
}
.mobile .inline-cypht .groupmail.message_table thead {
  display: none;
}
.mobile .inline-cypht .groupmail.message_table td {
  width: 100%;
}
.mobile .inline-cypht .groupmail.message_table tr {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  padding: 0 0 25px;
}
.mobile .inline-cypht .groupmail.message_table td.icon, .mobile .inline-cypht .groupmail.message_table td.action {
  position: absolute;
  width: auto;
  text-align: right;
}
.mobile .inline-cypht .groupmail.message_table td.icon {
  right: 5px;
}
.mobile .inline-cypht .groupmail.message_table td.action {
  right: -60px;
}
.mobile .inner_list {
  margin-bottom: 0;
}
.mobile .src_name {
  max-height: 100px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mobile .folder_cell {
  position: fixed;
  width: 300px;
  top: 60px;
  left: -310px;
  overflow: auto;
  z-index: 1;
  transition: all 1s ease;
  transform: translateX(-300px);
  background-color: #fff;
}
.mobile .folder_cell.slide-in {
  transition: all 0.5s ease;
  transform: translateX(300px);
}
.mobile .folder_cell .folder_list {
  display: block !important;
  width: auto;
  margin-bottom: 50px;
  font-size: 100%;
}
.mobile .folder_cell .folder_list li a {
  padding-top: 0;
}
.mobile .folder_cell .folder_list .update_message_list, .mobile .folder_cell .folder_list .hide_folders {
  display: none;
}

.tiki-webmail.mobile .box-logo, .tiki-webmail.mobile .pagetitle, .tiki-webmail.mobile .pagetitle + .t_navbar {
  display: none;
}
.tiki-webmail.mobile .topbar {
  margin-bottom: 0;
}
.tiki-webmail.mobile #page-header {
  display: none;
}
.tiki-webmail.mobile #topbar_modules {
  display: none !important;
}
.tiki-webmail.mobile #row-middle {
  margin-left: -15px;
  margin-right: -15px;
  border: none;
}
.tiki-webmail.mobile #col1 {
  padding: 0;
  border: none;
}
.tiki-webmail.mobile #col2, .tiki-webmail.mobile #col3 {
  margin-left: 15px;
  margin-right: 15px;
}

.reveal-if-unchecked {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 16px;
  transform: scale(0.8);
  transition: 0.5s;
}

.reveal-if-checked {
  opacity: 1;
  max-height: 100px;
  padding: 10px 20px;
  transform: scale(1);
  overflow: visible;
}

.msg_controls a {
width: unset;
border: unset;
letter-spacing: unset;
}

.move_to_trackers_dropdown {
  position: relative;
}

.move_to_trackers {
  text-transform: none;
  z-index: 100;
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 10px;
  border: solid 1px #ede8e6;
  font-weight: normal;
  padding-right: 25px;
  padding-left: 0px;
  font-size: 80%;
  top: 34px;
  min-width: 55px;
  right: 2px;
  border-top: none;
  padding-top: 0px;
}
.move_to_trackers a {
  border: none;
  font-size: 100%;
}
.msg_move_to .move_to_trackers {
  font-size: 100%;
  left: auto;
  right: 0px;
  top: 33px;
  font-variant: normal;
}

.message_list {
  margin-top: 80px;
}
.inline-cypht .content_title .mailbox_list_title {
  padding-top: 50px;
}
@media only screen and (min-width: 600px) {
  .message_list {
    margin-top: 0px;
  }
  .inline-cypht .content_title .mailbox_list_title {
    padding-top: unset;
  }
}
.msg_move_to{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
}
.folder_list .clear_cache {
  font-size: 80%;
  padding-top: 10px;
  float: right;
  margin-left: 5px;
}
/*# sourceMappingURL=site.css.map */
.event_participant_status_updated {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: #059;
  background-color: #BEF;
}

.msg_controls a { margin-right: 3px; white-space: nowrap; }
.toggle_link { padding-left: 4px !important; padding-right: 12px !important; padding-top: 4px !important;}

.mobile .msg_controls { background: linear-gradient(180deg, #fff, #fff, #f7f2ef) !important; z-index: 100; position: fixed; right: -10px; height: 54px; font-size: 115%; padding-left: 5px !important; padding-top: 5px; left: 65px !important; width: 330px !important;}
.mobile .mailbox_list_title { margin-left: -70px; }
.mobile .move_to_location { margin-right: 30px !important; margin-top: 10px;}

@media only screen and (max-width: 375px) {.mobile .inline-cypht .msg_controls {width: 290px !important;}}
@media only screen and (max-width: 320px) {.mobile .inline-cypht .msg_controls {width: 250px !important;}}
@media only screen and (max-width: 280px) {.mobile .inline-cypht .msg_controls {width: 200px !important;}}
@media only screen and (max-width: 257px) {.mobile .inline-cypht .msg_controls {width: 180px !important;}}

@media (orientation: landscape) { 
  .mobile .msg_controls { top: 12px; height: 26px; width: auto !important;}
  .mobile .mailbox_list_title { margin-top: 43px; }
  .mobile .search_form { margin-left: -18px !important; }
  .mobile .list_controls { display: none !important; }
}

.move_to_trackers .object-selector .results .form-check-label {
  white-space: normal !important;
}