{* $Id$ *}{if $new_topic}{tr _0=$prefs.mail_template_custom_text _1=$mail_forum|truncate:20:"..." _2=$mail_author|username}New %0forum topic in <%1> by %2:{/tr}{else}    {tr _0=$prefs.mail_template_custom_text _1=$mail_forum|truncate:20:"..." _2=$mail_author|username}New %0forum post in <%1> by %2:{/tr}{/if} {$mail_title|truncate:50:"..."}
