/* Theme newsletter stylesheet  */
body {
  background: #fff;
  color: #212529;
  font-family: var(--bs-font-sans-serif);
  padding: 15px;
}
a, a:visited {
  color: #0d6efd;
}
a:hover {
  color: #0a58ca;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}
.card {
  margin-bottom: 1.5;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0.375rem;
}
.card-header {
  border-bottom: 1px solid transparent;
}
.card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  color: inherit;
}
.card-title > a, .card-title > small, .card-title > .small, .card-title > small > a, .card-title > .small > a {
  color: inherit;
}
:root {
  --tiki-top-bg-light: #fff;
  --tiki-top-light-color: #000;
  --tiki-top-light-link-color: #000;
  --tiki-top-light-link-hover-color: #ff7900;
  --tiki-top-light-link-active-color: #000;
  --tiki-top-light-link-active-bg: #ff7900;
  --tiki-top-light-border: solid #000;
  --tiki-topbar-bg-light: #fff;
  --tiki-topbar-light-color: #000;
  --tiki-topbar-light-link-color: #000;
  --tiki-topbar-light-link-hover-color: #ff7900;
  --tiki-topbar-light-link-active-color: #000;
  --tiki-topbar-light-link-active-bg: #ff7900;
  --tiki-topbar-light-border: solid #000;
  --tiki-top-bg-dark: rgba(0, 0, 0, 1);
  --tiki-top-dark-color: #fff;
  --tiki-top-dark-link-color: #fff;
  --tiki-top-dark-link-hover-color: #ff7900;
  --tiki-topbar-bg-dark: rgba(0, 0, 0, 1);
  --tiki-topbar-dark-color: #fff;
  --tiki-topbar-dark-link-color: #fff;
  --tiki-topbar-dark-link-hover-color: #ff7900;
  --tiki-top-border-width:  0 0 .125rem 0;
  --tiki-topbar-border-width: 0 0 .125rem 0;
}
:root {
  --o-chevron-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 14'%3e%3cpath d='M9 2 7 0 0 7l7 7 2-2-5-5 5-5z'/%3e%3c/svg%3e");
  --o-close-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='%23000'%3e%3cpath stroke='%23000' stroke-width='5' stroke-linecap='round' d='m15 17.121-8.132 8.132-2.121-2.12L12.879 15 4.747 6.868l2.12-2.121L15 12.879l8.132-8.132 2.12 2.121L17.122 15l8.132 8.132-2.121 2.12L15 17.123z'/%3e%3c/svg%3e");
  --o-check-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 12'%3e%3cpath fill='%23000' d='M13 0 5 8 2 5 0 7l5 5L15 2z'/%3e%3c/svg%3e");
  --o-success-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 125 125'%3e%3cpath fill='%2332c832' d='M62.5 0a62.5 62.5 0 1 0 0 125 62.5 62.5 0 0 0 0-125zm28 29.4c3.3 0 6 2.6 6 5.9a5.9 5.9 0 0 1-1.3 3.7L57.7 86a5.8 5.8 0 0 1-9.1 0L29.8 62.5c-.8-1-1.2-2.3-1.2-3.7a5.9 5.9 0 0 1 1.7-4.1l2.3-2.4a5.8 5.8 0 0 1 4.2-1.7 5.8 5.8 0 0 1 3.8 1.4L52 64.7 86.6 31a5.8 5.8 0 0 1 4-1.6z'/%3e%3c/svg%3e");
  --o-error-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140 125'%3e%3cpath fill='%23cd3c14' d='M70.3 0c-5.8 0-10.8 3.1-13.5 7.8L2.3 101.3l-.2.2A15.6 15.6 0 0 0 15.6 125H125a15.6 15.6 0 0 0 13.5-23.5L83.8 7.8A15.6 15.6 0 0 0 70.3 0zm19.2 50a6.4 6.4 0 0 1 4.4 1.9 6.4 6.4 0 0 1 0 9L79.4 75.6l15 15a6.4 6.4 0 0 1 0 9.2 6.4 6.4 0 0 1-4.5 1.9 6.4 6.4 0 0 1-4.6-2l-15-15-15 15a6.4 6.4 0 0 1-4.6 2 6.4 6.4 0 0 1-4.6-2 6.4 6.4 0 0 1 0-9l15-15L46.8 61a6.4 6.4 0 1 1 9-9.1l14.6 14.5L84.8 52a6.4 6.4 0 0 1 4.7-1.9z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed) {
  --bs-accordion-active-bg: transparent;
}
.card-accordian > .card-header h4.card-title a {
  --bs-link-color: #fff !important;
}
